*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	padding : 20px;
}
nav{
	flex: 1;
	text-align: center;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555
}
p{
	color: #555
}
.container{
	maxwidth: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 250px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 hl{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff; 
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
	margin-top: 70px;
}
.categories{
	margin: 70px 0;
}
.col-2{
	flex-basis: 30%;
	min-width: 500px; 
	margin-bottom: 30px; 
}
.col-2 img{
	width: 100%
}
.small-container{
	max-width:1080px;
	margin: auto;
	padding-left: 25px;
	padding-right:25px;
}
.col-6{
	flex-basis: 25%;
	padding: 10px;
	min-width: 250px;
	margin-bottom: 50px;
}
.col-6 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #000000;
}
.title::after{
	content: '';
	background: #000000;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.footer-col-4{
	Float: right;
	
}

/*------------ Accessoires page ------------*/

.row row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
	
}
select{
	border: 1px solid #292C5C;
	padding: 5px;
}
.page-btn{
	margin: 0 auto 80px;
	
}
.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
    margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn:hover{
	background: #ff523b;
	color: #fff;
}
/*-------footer------------*/

.footer{
	background: #000;
	color:#8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color:#8a8a8a;
}
.footer h3{
	color:#fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.appl-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: radial-gradient(#fff,#ffd6d6);
	font-size: 14px;
}
.container{
	width: 80%;
	margin: 50px auto;
}
.contact-box{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: #000000;
	color: #fff;
}
h1{
	margin-bottom: 10px;
}
.container p{
	margin-bottom: 40px;
}

.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
}
label{
	margin-bottom: 6px;
	display: block;
	color: #000000;
}
button{
	background: #000000;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600;
	
	
	
	
	
	margin-bottom: 30px;
}
.contact-right h3{
	
	font-weight: 600;
	margin-bottom: 30px;
}
tr td:first-child{
	padding-right: 20px;
}
tr td:first-child{
	padding-top: 20px;
}

*{
	margin: 0;
	padding: 0;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Images/Signinbanner.png);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.chech-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}






